body{
    background-color: blueviolet;
    font-size: larger;
    font-family: sans-serif;
    border: 2px solid blue;
}
.lel{
    color: black;
    background-color: blue;
}
.ext{
    color: black;
   background-color: red;
}
.sdx{
    color: black;
    background-color: orange;
}