body{
    background-color: blueviolet;
    font-size: larger;
    font-family: sans-serif;
    border: 2px solid blue;
}
.ext{
    color: black;
    background-color: blueviolet;
}
.sdx{
    color: black;
    background-color: blueviolet;
}